{% extends "layout.html" %}
{% block body %}
<div class="row align-content-center px-5">
    <div class="col-md-12 mx-auto ">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
</div>
      <div class="card card-body">
        <form action="{{url_for('predict')}}" method="POST">
          <h1>ImageRec</h1>
          <h4>Get all the pictures you are present in on a click of a button</h3>
          <hr/>
          <br/><br/>
          <p><span style="color:red">*</span> Name required</p>

          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <label for="name"><b><span style="color:red">*</span>Enter your name</b></label>
                      <select class="form-control" aria-label=".form-select-lg example" name="name">
                          {% for i in keys %}
                            <option value="{{i}}">{{i}}</option>
                          {% endfor %}
                      </select>
                      <br>
                      </div>

                  
                </div>
                  
              </div>
            
            <div class="row">
              <button class="btn btn-block" type="submit" name="submit_button" value="similartickets" style="background-color:grey;color:white;">
                Submit
              </button>
              <!-- <button class="btn btn-block" type="submit" name="submit_button" value="kba" style="background-color:grey;color:white;">
                KBA
              </button> -->
            </div>
        </form>
      <!-- </div> -->
      </div>
      <br><br>
      <div class="container">
        {% for path in all_image_paths %}
          <p>{{path}}</p>
        {% endfor %}
      </div>
    
    

<br><br>

{% endblock %}