{% extends "layout.html" %}
{% block body %}
    <div class="container pb-3">
        <h1 style="color:white;">KBA Suggestions</h1>
        <hr style="color:white;">
        <div class="row align-content-center px-5">
        <div class="col-md-12 mx-auto ">
        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class = "row">
            <div class = "col-3">
                <h4 style="color:white;"> Created Ticket Details</h4><br/>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">INC{{number}}</h5>
                        <p class="card-text"><b>Short Description : </b>{{text}}</p>
                        <p class="card-text"><b>Resolver : </b>{{resolver}}</p>
                        <p class="card-text"><b>Creator : </b>{{creator}}</p>
                        <a href="#" class="btn btn-primary">View Ticket</a>
                    </div>
                </div>
                <br><br>
                
            </div>
            <div class="col-3"></div>
            <div class = "col-7">
                <div class="cards-list">
                        <h4 style="color:white;">KBA suggested</h4>
                        <div class="card" style="width: fit-content;">
                    <div class="card-body">
                        <h5 class="card-title">INC{{number}}</h5>
                        <p class="card-text" ><b>KBA : </b>https://www.service-now.com/kba/{{kba}}<span style="padding-left:5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg></span></p>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    

    </div>
{% endblock %}